.github
.helm
.vscode
kind
.editorconfig
justfile
README.md
**/node_modules/
**/dist/
**/.git/
**/.turbo/
**/.next/
/design-system/docs
**/Dockerfile
**/*.Dockerfile
docker-compose*.yaml
**/docker-compose.*.yaml
.env
.env.*
*.env
